{{set . "title" .pagina}}
{{template "header.html" .}}


    <!-- preloader area start -->
    <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- preloader area end -->
        <!-- login area start -->
        <div class="login-area">
            <div class="container">
                <div class="login-box ptb--100">
                    <form action="{{url "Actions.LoginNew"}}" method="POST">
                        {{template "flash.html" .}}
                        <div style="background-color: #212529;" class="login-form-head">
                            <a href="{{url "App.Index"}}"><img src="/public/img/icon/lgo_white.png" alt=""></a>
                            <p>Bienvenido a mincrow</p>
                        </div>
                        <div class="login-form-body">
                            <div class="form-gp">
                                <label for="Email">Correo electronico</label>
                                <input type="email" name="Email" id="Email">
                                <i class="ti-email"></i>
                            </div>
                            <div class="form-gp">
                                <label for="Pass">Contraseña</label>
                                <input type="password" name="Pass" id="Pass">
                                <i class="ti-lock"></i>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Ingresar <i class="ti-arrow-right"></i></button>
                            <hr>
                            <a href="{{url "App.Index"}}" class="btn btn-danger btn-block" type="submit">Regresar <i class="ti-back-left"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- login area end -->

{{template "footer.html" .}}