{{if .flash.success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{.flash.success}}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

{{end}}

{{if or .errors .flash.error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
	{{if .flash.error}}
		<i class="ti-alert"></i> {{.flash.error}}
	{{end}}
	<ul style="margin-top:10px;">
		{{range .errors}}
			<li><i class="ti-alert"></i> {{.}}</li>
		{{end}}
	</ul>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>	
</div>
{{end}}
