  
  <footer>
      <div class="footer-area">
          <a id="toggleDev" href="#">SHOW DEVEL</a>
          <p>© Copyright {{.fecha}} mincrow. All right reserved.</p>
      </div>
  </footer>
      <!-- jquery latest version -->
      <script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
      <!-- bootstrap 4 js -->
      <script src="/public/js/popper.min.js"></script>
      <script src="/public/js/bootstrap.min.js"></script>
      <script src="/public/js/owl.carousel.min.js"></script>
      <script src="/public/js/metisMenu.min.js"></script>
      <script src="/public/js/jquery.slimscroll.min.js"></script>
      <script src="/public/js/jquery.slicknav.min.js"></script>
      
      <!-- others plugins -->
      <script src="/public/js/plugins.js"></script>
      <script src="/public/js/scripts.js"></script>

      {{if .DevMode}}
        {{template "debug.html" .}}
      {{end}}
  </body>
</html>
