<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{.title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/png" href="/public/img/icon/favicon.png">
      <link rel="stylesheet" href="/public/css/bootstrap.min.css">
      <link rel="stylesheet" href="/public/css/font-awesome.min.css">
      <link rel="stylesheet" href="/public/css/themify-icons.css">
      <link rel="stylesheet" href="/public/css/metisMenu.css">
      <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/public/css/slicknav.min.css">
      <!-- amchart css -->
      <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
      <!-- others css -->
      <link rel="stylesheet" href="/public/css/typography.css">
      <link rel="stylesheet" href="/public/css/default-css.css">
      <link rel="stylesheet" href="/public/css/styles.css">
      <link rel="stylesheet" href="/public/css/responsive.css">
      <!-- modernizr css -->
      <script src="/public/js/vendor/modernizr-2.8.3.min.js"></script>
      {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="/public/{{.}}">
      {{end}}
      {{range .moreScripts}}
        <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
      {{end}}
    </head>
    
    <body>