
<!-- header area start -->
<div class="header-area">
        <div class="row align-items-center">
            <div class="col-md-12 col-sm-12 clearfix">
                <div class="nav-btn pull-left">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="pull-right">
                    <a class="btn btn-primary btn-round" href="{{url "Actions.Login"}}"><i class="ti-user"></i> Iniciar sesion</a>        
                </div>    
            </div>
        </div>
    </div>
    <!-- header area end -->