        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="index.html"><img src="/public/img/icon/lgo_white.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="{{if eq .pagina "Inicio"}} active {{end}}"><a href="{{url "App.Index" }}"><i class="ti-home"></i> <span>Inicio</span></a></li>
                            <li class="{{if eq .pagina "Quienes-somos"}} active {{end}}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-mouse"></i><span> Acerca de nosotros</span></a>
                                <ul class="collapse">
                                    <li><a href="index.html"><i class="ti-help"></i> ¿Quiénes somos?</a></li>
                                    <li><a href="index2.html"><i class="ti-thumb-up"></i> Nuestra Meta</a></li>
                                    <li><a href="index3.html"> <i class="ti-shopping-cart"></i> Nuestros productos</a></li>
                                </ul>
                            </li>
                            <li class="{{if eq .pagina "Ayuda"}} active {{end}}">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="ti-headphone-alt"></i><span>Ayuda</span></a>
                                <ul class="collapse">
                                    <li><a href="index.html"><i class="ti-book"></i> Manual</a></li>
                                    <li><a href="index3-horizontalmenu.html"><i class="ti-facebook"></i> Facebook</a></li>
                                    <li><a id="full-view" href="javascript:void(0)"><i class="ti-fullscreen"></i> Ir a pantalla completa</a></li>
                                    <li><a id="full-view-exit" href="javascript:void(0)"><i class="ti-zoom-out"></i> Volver a pantalla normal</a></li>
                                </ul>
                            </li>
                            <li class="{{if eq .pagina "Contacto"}} active {{end}}"><a href="{{url "App.Index" }}"><i class="ti-comments"></i> <span>Contactanos</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>